@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Bona Nova SC", serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F6FF;
}
.container{
    width: 300px;
    background-color: #F3C623;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}
#checkout-btn{
    background-color: #25639e;
    color: white;
    padding: 7px ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.product{
    background-color: #FFF1DB;
    padding: 14px;
    margin: 8px;
    border-radius: 8px;
}
.product button{
    margin-left: 20px;
    background-color: #25639e;
   color: white;
   padding: 4px 8px;
   border-radius: 7px;
}
.remove-btn{
    background-color: #25639e;
    color: white;
    padding: 7px ;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
.hidden{
    display: none;
}
h1,h2{
    margin-bottom: 10px;
}